In [13]:
import pandas as pd

df = pd.read_csv("stroke_sample.csv")
df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,14,0,0,No,children,Urban,92.86,20.7,formerly smoked,0
1,Male,37,0,0,No,Private,Urban,90.95,24.6,smokes,0
2,Male,67,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
3,Male,60,0,0,Yes,Self-employed,Urban,185.71,25.4,Unknown,0
4,Male,80,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
5,Female,30,0,0,No,Govt_job,Urban,88.20,35.2,smokes,0
6,Female,60,0,0,Yes,Self-employed,Urban,203.04,37.5,smokes,0
7,Female,65,0,0,Yes,Self-employed,Rural,105.29,25.1,formerly smoked,0
8,Male,12,0,0,No,children,Urban,64.08,18.2,Unknown,0
9,Female,33,0,0,No,Private,Urban,78.34,25.5,never smoked,0

In [19]:
from sklearn.preprocessing import LabelEncoder
le_gender = LabelEncoder()
le_marriage = LabelEncoder()
le_work = LabelEncoder()
le_residence = LabelEncoder()
le_smoke = LabelEncoder()

df["gender"] =  le_gender.fit_transform(df["gender"])
df["ever_married"] = le_marriage.fit_transform(df["ever_married"])
df["work_type"] = le_work.fit_transform(df["work_type"])
df["Residence_type"] = le_residence.fit_transform(df["Residence_type"])
df["smoking_status"] = le_smoke.fit_transform(df["smoking_status"])
df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1,14,0,0,0,3,1,92.86,20.7,1,0
1,1,37,0,0,0,1,1,90.95,24.6,3,0
2,1,67,0,1,1,1,1,228.69,36.6,1,1
3,1,60,0,0,1,2,1,185.71,25.4,0,0
4,1,80,0,1,1,1,0,105.92,32.5,2,1
5,0,30,0,0,0,0,1,88.20,35.2,3,0
6,0,60,0,0,1,2,1,203.04,37.5,3,0
7,0,65,0,0,1,2,0,105.29,25.1,1,0
8,1,12,0,0,0,3,1,64.08,18.2,0,0
9,0,33,0,0,0,1,1,78.34,25.5,2,0

In [15]:
X = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [17]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [18]:
print("Before OverSampling, counts of label '1': {}".format(sum(y_train==1)))
print("Before OverSampling, counts of label '0': {} \n".format(sum(y_train==0)))

sm = SMOTE(random_state=2)
X_train_res, y_train_res = sm.fit_resample(X_train, y_train.ravel())

Before OverSampling, counts of label '1': 1
Before OverSampling, counts of label '0': 7

NameError: name 'SMOTE' is not defined